* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: #D4D1F4;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

h1 {
    font-size: clamp(2.2rem, 5vw, 5rem);
}

h2 {
    font-size: clamp(1.6rem, 3.5vw, 3rem); 
}

h3 {
    font-size: clamp(1.2rem, 2.5vw, 2rem);
}

p {
    font-size: clamp(1rem, 1.5vw, 1.15rem);
}

header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(8rem, 1fr) 3fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: #b7b4df;
}

.header_img_logo {
    max-height: 4rem;
    margin: 0 2rem;
}

.header_img_logo:hover {
    scale: 1.1;
    cursor: pointer;
}

header ul {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
}

header ul button {
    font-size: clamp(0.8rem, 2vw, 1rem);
    padding: clamp(0.3rem, 1vw, 0.6rem) clamp(0.8rem, 2vw, 1.6rem);
    background-color: transparent;
    border: none;
    margin: 0;
}

header ul button:hover {
    cursor: pointer;
    scale: 1.1;
}

header ul button a {
    text-decoration: none;
    color: black;
}

header button {
    width: min-content;
    background-color: transparent;
    border: none;
    justify-self: end;
    margin: 0 5%;
}

.header_img_perfil {
    max-height: 3rem;
    align-self: center;
}

.header_img_perfil:hover {
    scale: 1.1;
    cursor: pointer;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div {
    display: flex;
    width: 90%;
}

section div a {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    width: 25%;
    text-decoration: none;
    color: black;
    border-radius: 20px;
}

section div a:hover {
    scale: 1.05;
}

section div a img {
    object-fit: cover;
    object-position: 100% 0%;
    width: 100%;
    height: 40%;
    border-radius: 20px 20px 0 0;
}

.type {
    margin: 5% 60% 0 0;
    padding: 1.5% 3%;
    font-size: clamp(0.3rem, 0.6vw, 0.8rem);
    border-radius: 20px;
    background-color: rgb(30, 30, 77);
    color: aliceblue;
}

section div a h3,
section div a p{
    margin: 3% 5% 0;
}